<!-- Footer -->
        <!-- Copyright &copy; Steve Francia 2013&ndash;2014 --->
<!--footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
      </div>
    </div>
  </div>
</footer-->
<!-- /Footer -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ .Site.BaseURL }}js/jquery-2.1.1.min.js"></script>
<!--<script src="/js/bootstrap.min.js"></script>-->
<script>
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
      || location.hostname == this.hostname) {

    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});
</script>

</body>

</html>
